<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit Size'); ?> <small>
	<?php _e($size['name']);?></small></h4></div>
	<div class="modal-body">
		<div class="form-group">
			<label for="cat"><?php _e('Category'); ?></label>
			<select class="form-control select2 select2-hidden-accessible" required id="cat" name="cat" style="width: 100%;" tabindex="-1" aria-hidden="true">
				<?php foreach ($cat as $item) { ?>
				<option value='<?php echo $item['id']; ?>' <?php if($item['id'] == $size['categoryid']) echo "selected"; ?>><?php echo $item['name']; ?></option>
				<?php } ?>
			</select>
		</div>
		<div class="form-group">
			<label for="name"><?php _e('Name'); ?> *</label>
			<input type="text" class="form-control" id="name" name="name" autocomplete="off" value="<?php echo $size['name']; ?>" required>
		</div>	
		<input type="hidden" name="id" value="<?php echo $size['id']; ?>">
		<input type="hidden" name="action" value="editSize">
		<input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">	
		<?php if(isset($_GET['section'])){?>
		<input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
		<?php }?>
		<?php if(isset($_GET['routeid'])){?>
		<input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
		<?php }?>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
		<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <?php _e('Save'); ?></button>
	</div>
	<script type="text/javascript">
		$(function() { $(".select2").select2(); });
	</script>